@media only screen and (min-width: 300px) {

  #campground-container {
    width: 600px;
  }

  .nav-campgrounds {
    min-width: 300px;
  }

  .form-page {
    margin-top: 5%;
  }

  .form-nav {
    margin-bottom: 5%;
  }

}

@media only screen and (min-width: 600px) {

  html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 4%;
  }

  .nav-bar {
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.85;
  }

  #nav-item {
    min-width: 100px;
    color: #FFFFFF;
  }

  .field {
    width: 50%;
    min-width: 250px;
    margin: auto;
  }

  .campground-form {
    text-align: center;
    position: relative;
    max-width: 900px;
    margin: auto;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
  }

  .ui.form .field {
    margin: auto;
    margin-top: 2%;
  }

  button.ui.button {
    margin-top: 2%;
  }

  .ui.secondary.button {
    opacity: 0.85;
  }

  h1 {
    text-align: center;
  }

  .landing-title {
    margin-bottom: 5%;
  }

  .campgrounds-page {
    min-width: 800px;
  }

  .campgrounds-title {
    text-align: center;
    margin-top: 3%;
  }

  .nav-campgrounds {
    max-width: 1200px;
    margin: auto;
    margin-top: 2%;
  }

  img {
    display: block;
    width: 100%;
    border-radius: 10px;
    border-style: double;
    box-shadow: 6px 6px 1px #888888;
    border-color: #cccccc;
    max-height: 308px;
  }

  div.ui.three.column.grid {
    margin: auto;
    overflow: auto;
  }

  .campground-info {
    text-align: center;
  }

  #campground-container {
    max-width: 450px;
    margin: auto;
  }

  #rightside-button {
    float: right;
  }

  .landing-page {
    text-align: center;
    margin-top: 10%;
  }

}
